{% extends 'home/base.html' %}
{% block title %}About Us
{% endblock title %}

{% block body %}
{% load static %}

     
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'about us banner.gif' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>K Mean Black Co.</h5>
            <p>“Don't settle for average. Bring your best to the moment. Then, whether it fails or succeeds, at least you know you gave all you had.”</p>
          </div>
        </div>
      </div>
  

   
    
    <!-- START THE FEATURETTES -->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center"> 
            <div class="row align-items-center">
               <div class="col-12 col-md-6">
                   <div class="pt-3 mt-3 image-wrapper">
                       <img src="{% static 'About us.gif' %}" alt="Mobirise">
                   </div>
               </div>
               <div class="col-12 col-lg-6">
                   <div class="text-wrapper text-center">
                      <h3 class="mt-3 mbr-section-subtitle mbr-fonts-style align-left display-3 text-black"><div><strong>About Us</strong></div></h3>
                       
                       <p class="mbr-text mbr-fonts-style display-5">
                       
                        
                        Committed to industry improvements, both socially & environmentally, K Mean Black provides creative solutions, excellent communication, efficient deliveries and flexibility with an emphasis on customer centricity - regional and global. Our international and domestic clients recognise K Mean Black will not fail in supplying exceptional branding for their products. 
                       <br><br>
                      
                      we’ve been providing top-notch service, industry knowledge, and expertise to help companies achieve brand and business goals. We're home to some of the most accomplished talent in design and technology, all committed to helping you create brands consumers love.
                      <br><br>
                      Our friendly customer service is always available to answer your questions. While business meetings assist companies to choose and also resolve complex concerns, they can sometimes be an inadequate use of time if not run appropriately.  In order to make sure that the moment is made use of efficiently, both the coordinator and also the individuals of company conferences need to be proactively entailed. 
                    </p>                          
                       </div>
                   <div class="my-4 mbr-section-btn align-center"><a class="btn btn-outline-info btn-sm px-4 me-sm-2 fw-bold" href="/contact">Contact Us</a></div>
                       </div>
                   </div>
               </div>
           </div>
          </div>
        </div>     
      </div>

      <section class="header4 cid-r2hCFpLJfd" id="header4-2t">
        <div class="container align-center pb-5 mb-5">
           
            <div class="row justify-content-center">
      
            
                <div class="mbr-black col-lg-12 col-lg-12 content">
                    
      
                    <h1 class="pt-5 text-center"><strong>Supply Chain</strong></h1>
                    <div class="line-wrap">
                        <div class="line"></div>
                    </div>
                    <p class="mbr-text pt-4 mbr-fonts-style display-5">Technology is changing how we look at the world and success looks a lot different these days. Things like sustainability and inventory management are also critical pieces of the puzzle. That’s why our approach to helping you optimize your supply chain continues to evolve and adapt. we can help understand what you have, where you have it — and create amazing consumer experiences along the way.
                      </p>
                      
                </div>
      
            </div>
        </div>
        
      </section>

      <section class="header4 cid-r2hCFpLJfd" id="header4-2t">
        <div class="container align-center pb-5 mb-5">
           
            <div class="row justify-content-center">
      
            
                <div class="mbr-black col-lg-12 col-lg-12 content">
                    
      
                    <h1 class="pt-5 text-center"><strong>Web design and development</strong></h1>
                    <div class="line-wrap">
                        <div class="line"></div>
                    </div>
                    <p class="mbr-text pt-4 mbr-fonts-style display-5">K Mean Black is defined as a business that offers the innovative, tactical, and technical development of screen-based products and services. A complete company can supply clients web design and development. What do you think of Company K Mean Black?
                      <br><br>
                      We have hired the best brains so that you can get unique website designs to represent your business ideas. Our team of designers are well aware about the designs that are in vogue. We carry out our design services with a well-planned strategy to ensure its exceptional online branding. To create an enhanced online presence, we conduct a thorough research catering to market trends, demographics with respect to the client needs. Be it designing logo, or web hosting, we are able to offer extended web designing services.
                      </p>
                      
                </div>
      
            </div>
        </div>
        
      </section>
      
<section class="header4 cid-r2hCFpLJfd" id="header4-2t">
  <div class="container align-center pb-5 mb-5">
     
      <div class="row justify-content-center">

      
          <div class="mbr-black col-lg-12 col-lg-12 content">
              

              <h1 class="pt-5 text-center"><strong>Packaging Products</strong></h1>
              <div class="line-wrap">
                  <div class="line"></div>
              </div>
              <p class="mbr-text pt-4 mbr-fonts-style display-5">
               <strong> MISSION</strong><br>
                ‘We are here to build brands, by delivering best possible packaging solutions and contribute in the perpetual growth of our partners through constant value addition & focus on sustainability.’
                <br><br>
                <strong> VISION </strong>
                <br>
                ‘Global expansion, through replication of regional success, based on core principles of Quality, Sustainability, Innovation and Team Work, for our business partners’
                <br><br>
                We just started, after tons of researches and surways of your need for printing, we are ready to serve you now, and excited to make printing like smoother then ever,  We have a great passion for printing and we strive to do our best by providing unique ideas, substrates and top-of-the-line specialty processes.  our creative and inventive team has been committed to service excellence, making it our mission to surpass your expectations. We invite you to experience our specialties offered online, such as hot foil stamping and embossing on your cards and other stationeries. We also offer letterpress printing, engraving printing, duplexed cards, debossing and many more print techniques in-house.
                </p>
                
          </div>

      </div>
  </div>
  
</section>
   
      <div class="container">
      <div class="text-center font-bold display-3 top-border"><strong>Core Values</strong></div>
        <section class="mbr-section article content12 cid-rRAisYuVPl" id="content2-r">


          <div class="mt-5 row justify-content-center">
              <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                  
                  <h3 class="ml-2 mbr-fonts-style mbr-title mbr-bold display-5">Quality</h3>
                  <div class="ml-2 mbr-text mbr-fonts-style display-7">We have pledged as a company to put quality first.
                    Whether the physical or aesthetic aspects of our products, or to the compliance of social or chemical requirements, we always strive to achieve customer satisfaction through sound quality of our product and service.<br>
                  
In order to satisfy our goal of getting it right the first
time every time, we have a system of rigorous quality
checks. All our factories are equipped with
state-of-the-art technology to support the same.</div>
              </div>
  
              <div class="col-sm-12 col-md-6 col-lg-4">
                  
                  <h3 class="ml-2 mbr-fonts-style mbr-title mbr-bold display-5">Integrity</h3>
                  <div class="ml-2 mbr-text mbr-fonts-style display-7">
                    Being tasked with the responsibility of upholding and preserving the brand handwriting of our customers design and marketing, we believe that integrity within what we do and how we operate should be at the core value of K mean Black organisation.</div>
              </div>
  
              <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                  
                  <h3 class="ml-2 mbr-fonts-style mbr-title mbr-bold display-5 mt-4">Team work</h3>
                  <div class="ml-2 mbr-text mbr-fonts-style display-7">
                    Our success can only be attributed to the dedicated team members we have, some of them associated with us from the inception of the business. We believe in joint service and shared victories, where teamwork and democratic decision making are the pillars of operation.</div>
              </div>
          </div>
    
  </section>

  <section class="mbr-section article content12 cid-rRAisYuVPl" id="content2-r">

    

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            
            <h3 class="ml-2 mbr-fonts-style mbr-title mbr-bold display-5">Innovation</h3>
            <div class="ml-2 mbr-text mbr-fonts-style display-7">
              We as a company welcome new challenges and requests for development and innovation. We believe this added value allows us to keep innovating techniques and reengineering products to reduce costs and develop novel solutions for original design as well as branding difficulties.</div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            
            <h3 class="ml-2 mbr-fonts-style mbr-title mbr-bold display-5">Sustainbility</h3>
            <div class="ml-2 mbr-text mbr-fonts-style display-7"> 
It is K Mean Black constant endeavour to help our partners source smarter and protect our environment. We support this initiative by manufacturing in-house a wide range of recycled, recyclable, organic products, whilst also sustainably sourcing raw material and eco-friendly inks.
Adjacent to this, the business is maintaining competitive price points and ensuring product utility is maintained and/or enhanced.</div>
              </div>
            </div>
          </div>

    <!--start Map section-->
<div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
  <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
      var setting = {"height":550,"width":1920,"zoom":17,"queryString":"Mahalaxmi Enclave, Karawal Nagar, Delhi, India","place_id":"ChIJC0iXwQL8DDkRDYVVVvQeaZY","satellite":true,"centerCoord":[28.717463025591087,77.27485753843195],"cid":"0x96691ef45655850d","lang":"en","cityUrl":"/india/new-delhi","cityAnchorText":"Map of New Delhi, North Zone, India","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"827443"};
      var d = document;
      var s = d.createElement('script');
      s.src = 'https://1map.com/js/script-for-user.js?embed_id=827443';
      s.async = true;
      s.onload = function (e) {
        window.OneMap.initMap(setting)
      };
      var to = d.getElementsByTagName('script')[0];
      to.parentNode.insertBefore(s, to);
    })();</script><a href="https://1map.com/map-embed">1 Map</a></div>
<!--end of Map Api-->

      <div class="my-4 text-center bg-white relative flex flex-wrap py-6 rounded shadow-md">
        <div class="lg:w-1/2">
          <h1 class="title-font font-semibold text-gray-900 tracking-widest"><strong>ADDRESS</strong></h1>
          <p class="mt-1">New Delhi-110094, India</p>
        </div>
        <div class="lg:w-1/2 px-20 mt-4 lg:mt-0">
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs"><strong>EMAIL</strong></h2>
          <a class="text-blue-500 leading-relaxed">kmb@kmeanblack.com</a>
          <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4"><strong>PHONE</strong></h2>
          <p class="leading-relaxed">+ 91 8800347141</p>
        </div>
        <div class="info-box">
          <div class="content">
            <h4 class="pt-3"> <a href="{% static 'K Mean Black Print and Packaging.pdf' %}" download="COMPANY PROFILE" class="text-red">Packaging Profile</a> 
          </h4></div></div>
          <div class="info-box">
            <div class="content">
              <h4 class="pt-3"> <a href="{% static 'K Mean Black design and web development.pdf' %}" download="COMPANY PROFILE" class="text-red">Graphic & Web Creative Profile</a> 
            </h4></div></div>
      </div>
      
    </div>
        {% endblock body %}
