{% extends 'home/base.html' %}
{% block title %} Web Design and Development
{% endblock title %}

{% block body %}
{% load static %}

  
<link rel="stylesheet" href="{% static 'Trims/style(3).css' %}">
<link rel="stylesheet" href="{% static 'Trims/mbr-additional.css' %}" type="text/css">


<link rel="stylesheet" href="{% static 'website/mobirise-icons.css' %}">
<link rel="stylesheet" href="{% static 'website/mobirise2.css' %}">
<link rel="stylesheet" href="{% static 'website/tether.min.css' %}">
<link rel="stylesheet" href="{% static 'website/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'website/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'website/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'website/style.css' %}">
<link rel="stylesheet" href="{% static 'website/styles.css' %}">
<link rel="stylesheet" href="{% static 'website/style(1).css' %}">
<link rel="stylesheet" href="{% static 'website/recaptcha.css' %}">
<link rel="preload" as="style" href="{% static 'website/mbr-additional.css' %}"><link rel="stylesheet" href="{% static 'website/mbr-additional.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">



</head>
<body>


<section class="features1 cid-rR2EvFRQfn" id="header1-1">

  
<div class="mbr-overlay" style="opacity: 100.00; background-color: rgb(0, 0, 0);"> <img src= "{% static 'website\woman-6-1920x1280.jpg' %}"></div>
  
  <div class="container">
      <div class="row">
          <div class="mbr-white col-md-12 col-lg-12 block-title">
              
              <div class="line line-title-big"></div>
              <h1 class="mbr-section-title align-left mbr-semibold pb-3 mbr-fonts-style display-1">Web Design Studio</h1>
              
          </div>
      </div>
      <div class="media-container-row">
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-inner">
              <div class="card-img">
                <span class="fa-solid fa-phone-alt" style="color: rgb(87, 70, 139); font-size: 24px;"></span>

            </div>
            <div class="card-box">
                <h4 class="card-title mbr-white align-left mbr-bold mbr-fonts-style display-5">Evaluation your ideas</h4>
                <p class="mbr-text mbr-white align-left mbr-fonts-style mbr-light display-7">
                  Development, as well as modern technology, go hand in hand - that virtually do without stating.

                </p>
                
            </div>
            </div>
          </div>
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-inner">
              <div class="card-img">
                <span class="fa-solid fa-rocket" style="color: rgb(87, 70, 139); font-size: 24px;"></span>

              </div>
              <div class="card-box">
                  <h4 class="card-title mbr-white align-left mbr-bold mbr-fonts-style display-5">Web design & development</h4>
                  <p class="mbr-text mbr-white align-left mbr-fonts-style mbr-light display-7">
                    It can be practical to concentrate your innovation initiatives on places where you have recurring challenges.</p>
                  
              </div>
            </div>
          </div>

          <div class="card card-3 col-12 col-md-6 col-lg-4">
              <div class="card-inner">

             
              <div class="card-img">
                <span class="fa-solid fa-images" style="color: rgb(87, 70, 139); font-size: 24px;"></span>

              </div>
              <div class="card-box">
                  <h4 class="card-title mbr-white align-left mbr-bold mbr-fonts-style display-5">Hosting</h4>
                  <p class="mbr-text mbr-white align-left mbr-fonts-style mbr-light display-7">
                    The effective exploitation of originalities is important to a service being able to enhance its treatments.

                  </p>
                  
              </div>
            </div>
          </div>

          
      </div>
  </div>
</section>

  <section class="header4 cid-r2hCFpLJfd" id="header4-2t">

    

    

    <div class="align-center">
        <div class="row justify-content-center">
            <div class="mbr-black col-lg-8 col-md-12 content">
                <h1 class="pb-5 text-center">Website Designing and Development Services</h1>


                <h1 class="mbr-section-title mbr-bold align-left mbr-white pb-2 mbr-fonts-style display-2 pl-5 pt-3">Contributing to Your Business Success!</h1>
                <div class="line-wrap">
                    <div class="line"></div>
                </div>
                <p class="mbr-text align-left pt-4 mbr-fonts-style display-5 pl-5">
                    Venturing into a business is not everyone can do! Only a handful of people with dreams can make it happen. Hence, a website, “the online face of your business” is the most important asset. It serves as the backbone of an organization’s marketing plan. Since it creates the first impression on website users, you won’t like to compromise with it. A professional website designing company in Delhi helps you create that first impression in the most appealing manner while taking care of functional aspects.
          <br>
          If you wish to gain more online credit, a well-structured website is must. While website designing focuses on the areas that showcase your business with best look and feel, web development caters to the functionality part. The key factors in website design and development services encompass design, content and fundamental tools.</p>
            </div>


        </div>
    </div>
    
</section>

<section class="header4 cid-r2hCFpLJfd" id="header4-2t">

    

    

    <div class="container align-center">
        <h1 class="mbr-black pb-2">Website Designing and Development Services</h1>
        <h4 class="short-description pb-5">Contributing to Your Business Success!</h4>
        <div class="row justify-content-center">
            <div class="mbr-black col-lg-8 col-md-12 content">
                

                <h2 class="pt-5">Website Designing Services</h2>
                <div class="line-wrap">
                    <div class="line"></div>
                </div>
                <p class="mbr-text align-left pt-4 mbr-fonts-style display-5">The challenging task of designing a website requires in-depth exploration of the business domain. Various aspects like company logo, colors, and images are carefully chosen and incorporated to make the organization stand out on web. Therefore, look for the best web design company in India for your business.

                  </p>
                  
            </div>

            <div class="mbr-white col-lg-4 col-md-8 pr-5 pt-5">
                <img src="{% static 'website\website-designing-img.png' %}" title="" alt="">
            </div>


        </div>
    </div>
    
</section>



<section class="header4 cid-r2hCFpLJfd" id="header4-2t">

    

    

    <div class="container align-center top-border">
       
        <div class="row justify-content-center">
        <div class="mbr-white col-lg-4 col-md-8 pt-5">
            <img src="{% static 'website\website-development-img.png' %}" title="" alt="">
        </div>

        
            <div class="mbr-black col-lg-8 col-md-12 content">
                

                <h2 class="pt-5">Website Development Services</h2>
                <div class="line-wrap">
                    <div class="line"></div>
                </div>
                <p class="mbr-text pt-4 mbr-fonts-style display-5">Gone are the days when you get your website developed and it used to work for years! In the competitive web spaces, web development has become a continuous process. It takes exhaustive efforts of the web design and development companies coupled with client communication to develop a website that is multi-functional, dynamic and user-friendly.

                  </p>
                  
            </div>

        </div>
    </div>
    
</section>

{%endblock%}
