{% extends 'home/base.html' %}
{% block title %} Ios Apps Development
{% endblock title %}

{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'Trims/style(3).css' %}">
<link rel="stylesheet" href="{% static 'Trims/mbr-additional.css' %}" type="text/css">


<link rel="stylesheet" href="{% static 'website/mobirise-icons.css' %}">
<link rel="stylesheet" href="{% static 'website/mobirise2.css' %}">
<link rel="stylesheet" href="{% static 'website/tether.min.css' %}">
<link rel="stylesheet" href="{% static 'website/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'website/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'website/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'website/style.css' %}">
<link rel="stylesheet" href="{% static 'website/styles.css' %}">
<link rel="stylesheet" href="{% static 'website/style(1).css' %}">
<link rel="stylesheet" href="{% static 'website/recaptcha.css' %}">
<link rel="preload" as="style" href="{% static 'website/mbr-additional.css' %}"><link rel="stylesheet" href="{% static 'website/mbr-additional.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">



</head>
<body>


<section class="features1 cid-rR2EvFRQfn" id="header1-1">

  
<div class="mbr-overlay" style="opacity: 100.00; background-color: rgb(0, 0, 0);"> <img src= "{% static 'website\woman-6-1920x1280.jpg' %}"></div>
  
  <div class="container">
      <div class="row">
          <div class="mbr-white col-md-12 col-lg-12 block-title">
              
              <div class="line line-title-big"></div>
              <h1 class="mbr-section-title align-left mbr-semibold pb-3 mbr-fonts-style display-1">Web Design Studio</h1>
              
          </div>
      </div>
      <div class="media-container-row">
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-inner">
              <div class="card-img">
                <span class="fa-solid fa-paper-plane" style="color: rgb(87, 70, 139); font-size: 24px;"></span>

            </div>
            <div class="card-box">
                <h4 class="card-title mbr-white align-left mbr-bold mbr-fonts-style display-5">Be Visible to Customers at All Times</h4>
                <p class="mbr-text mbr-white align-left mbr-fonts-style mbr-light display-7">
                    Being “in the way” can be an advantage to your company, as our mind unconsciously does record every image and text (or well-designed app icon!) it comes across — even if it happens unnoticed.
                </p>
                
            </div>
            </div>
          </div>
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-inner">
              <div class="card-img">
                <span class="fa-solid fa-rocket" style="color: rgb(87, 70, 139); font-size: 24px;"></span>

              </div>
              <div class="card-box">
                  <h4 class="card-title mbr-white align-left mbr-bold mbr-fonts-style display-5">Create a Direct Marketing Channel</h4>
                  <p class="mbr-text mbr-white align-left mbr-fonts-style mbr-light display-7">
                    Apps serve many functions: they can provide general info, prices, booking forms, search features, user accounts, messengers, news feeds, and much more.One of the biggest benefits of having a mobile app is that all the information you’d like to provide to your customers.</p>
                  
              </div>
            </div>
          </div>

          <div class="card card-3 col-12 col-md-6 col-lg-4">
              <div class="card-inner">

             
              <div class="card-img">
                <span class="fa-solid fa-images" style="color: rgb(87, 70, 139); font-size: 24px;"></span>

              </div>
              <div class="card-box">
                  <h4 class="card-title mbr-white align-left mbr-bold mbr-fonts-style display-5">Provide Value to Your Customers</h4>
                  <p class="mbr-text mbr-white align-left mbr-fonts-style mbr-light display-7">
                    Talking about on-hand information, how about digitalizing that loyalty program you have in place? Instead of sticking to the old point-collection card, make it possible for your customers to collect their rewards via your mobile app. The result? More downloads and more return customers.
                  </p>
                  
              </div>
            </div>
          </div>

          
      </div>
  </div>
</section>



<section class="header4 cid-r2hCFpLJfd" id="header4-2t">
    

    

    <div class="container align-center">
       
        <div class="row justify-content-center">

        
            <div class="mbr-black col-lg-8 col-md-12 content">
                

                <h2 class="pt-5">Developing Customer-Engaging Apps for Your Business!</h2>
                <div class="line-wrap">
                    <div class="line"></div>
                </div>
                <p class="mbr-text pt-4 mbr-fonts-style display-5">Usability is the most important factor that drives users to have a good app on the iPhone and iPad. K Mean Black Interactive is a renowned iOS App development Company In Delhi NCR, India that specializes in creating powerful iPhone applications by using the latest technology. Getting an app development for your business is a crucial factor in bringing you success and a professional website designing company in Delhi understands it. Relying on our decades of experience in industry, we come up with powerful app development. Our professionals help you with all types of app development for iOS that works well with all supported Apple devices. We are expert in designing and developing next-gen problem-solving solutions on iOS platforms for iPad, iPhone, iPod and Apple Watch devices. At our company, we ensure to deliver secure and scalable iOS applications for start-ups, enterprise clients, and SMEs worldwide.
                  </p>
                  
            </div>

        </div>
    </div>
    
</section>

{%endblock%}
