{% extends 'home/base.html' %}
{% block title %} Web Designing
{% endblock title %}

{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'Trims/style(3).css' %}">
<link rel="stylesheet" href="{% static 'Trims/mbr-additional.css' %}" type="text/css">


<link rel="stylesheet" href="{% static 'website/mobirise-icons.css' %}">
<link rel="stylesheet" href="{% static 'website/mobirise2.css' %}">
<link rel="stylesheet" href="{% static 'website/tether.min.css' %}">
<link rel="stylesheet" href="{% static 'website/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'website/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'website/bootstrap-reboot.min.css' %}">
<link rel="stylesheet" href="{% static 'website/style.css' %}">
<link rel="stylesheet" href="{% static 'website/styles.css' %}">
<link rel="stylesheet" href="{% static 'website/style(1).css' %}">
<link rel="stylesheet" href="{% static 'website/recaptcha.css' %}">
<link rel="preload" as="style" href="{% static 'website/mbr-additional.css' %}"><link rel="stylesheet" href="{% static 'website/mbr-additional.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">



</head>
<body>


<section class="features1 cid-rR2EvFRQfn" id="header1-1">

  
<div class="mbr-overlay" style="opacity: 100.00; background-color: rgb(0, 0, 0);"> <img src= "{% static 'website\woman-6-1920x1280.jpg' %}"></div>
  
  <div class="container">
      <div class="row">
          <div class="mbr-white col-md-12 col-lg-12 block-title">
              
              <div class="line line-title-big"></div>
              <h1 class="mbr-section-title align-left mbr-semibold pb-3 mbr-fonts-style display-1">Web Design Studio</h1>
              
          </div>
      </div>
      <div class="media-container-row">
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-inner">
              <div class="card-img">
                <span class="fa-solid fa-phone-alt" style="color: rgb(87, 70, 139); font-size: 24px;"></span>

            </div>
            <div class="card-box">
                <h4 class="card-title mbr-white align-left mbr-bold mbr-fonts-style display-5">First Impressions</h4>
                <p class="mbr-text mbr-white align-left mbr-fonts-style mbr-light display-7">
                    Today the front of your website is essentially your store front. Whenever meeting a new person or potential client, you always worry about making the best possible first impression. So why should your website be any different?

                </p>
                
            </div>
            </div>
          </div>
          <div class="card col-12 col-md-6 col-lg-4">
              <div class="card-inner">
              <div class="card-img">
                <span class="fa-solid fa-rocket" style="color: rgb(87, 70, 139); font-size: 24px;"></span>

              </div>
              <div class="card-box">
                  <h4 class="card-title mbr-white align-left mbr-bold mbr-fonts-style display-5">Higher Search Engine Ranking</h4>
                  <p class="mbr-text mbr-white align-left mbr-fonts-style mbr-light display-7">
                    If your site is out dated, it does not contain the specific content necessary to be picked up and indexed by these search engines. So instead of being on the first page of listings, you might be lost on page 5 or 6 and never seen by the user searching.</p>
                  
              </div>
            </div>
          </div>

          <div class="card card-3 col-12 col-md-6 col-lg-4">
              <div class="card-inner">

             
              <div class="card-img">
                <span class="fa-solid fa-images" style="color: rgb(87, 70, 139); font-size: 24px;"></span>

              </div>
              <div class="card-box">
                  <h4 class="card-title mbr-white align-left mbr-bold mbr-fonts-style display-5">Challenge Your Competition</h4>
                  <p class="mbr-text mbr-white align-left mbr-fonts-style mbr-light display-7">
                    Having a professional website allows you to be on top of your industry and challenge your competition to keep up. Continually working and adding to your website forces your competition to always remain one step behind.
                  </p>
                  
              </div>
            </div>
          </div>

          
      </div>
  </div>
</section>



<section class="header4 cid-r2hCFpLJfd" id="header4-2t">
    

    

    <div class="container align-center">
       
        <div class="row justify-content-center">

        
            <div class="mbr-black col-lg-8 col-md-12 content">
                

                <h2 class="pt-5">Website Designing Services</h2>
                <div class="line-wrap">
                    <div class="line"></div>
                </div>
                <p class="mbr-text pt-4 mbr-fonts-style display-5">Website Designing ServicesIf your business aims at reaching potential customers faster, you need a website! Web design company in Delhi, India play a significant role when it comes to your business growth beyond geographical boundaries. Hiring the services of a professional web design company enables you to develop an impressive website. It also takes care of the promotion of your website besides making it user friendly.
                    <br><br>
                    Starting with logo design, graphic design, web hosting. Following a professional approach is needed here because every project involves a number of complexities at every step. K Mean Black, a leading website designing company in Delhi can assist you to overcome these hurdles and brings you hassle-free website design services. If you aspire to operate your business on web, get a website created by a professional company. The best benefit of taking professional help for web designing is that it enables you to take your brand global which you may not be able to.
                    <br><br>
                    Believe in our web design service team to create a unique, user-friendly and powerful web design that represents your company image in the best possible light. K Mean Black Interactive web design company delivers great results ensuring your brand gets connected with your clients. A world-class website design will make your company more competitive online and help your customers find out the information they need about your organization. It is always our goal to create a web design with a perfect balance of form and function. With our web design service Delhi, your brand will get noticed in no time! We are a web design company that will ensure your brand gets noticed.

                  </p>
                  
            </div>

        </div>
    </div>
    
</section>
{%endblock%}
