{% extends 'blog/basic.html' %}

{% block title %} Search Results {% endblock title %}
{% block blogactive %} active {% endblock blogactive %} 


{% load static%}
{% block content %}
   <main>
   
        <!-- page-banner-area-start -->
        <div class="page-banner-area page-banner-height-2" data-background="{% static 'assets/img/banner/page-banner-4.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-banner-content text-center">
                            <h4 class="breadcrumb-title">Search</h4>
                            <div class="breadcrumb-two">
                                <nav>
                                   <nav class="breadcrumb-trail breadcrumbs">
                                      <ul class="breadcrumb-menu">
                                         <li class="breadcrumb-trail">
                                            <a href="/education"><span>Home</span></a>
                                         </li>
                                         <li class="trail-item">
                                            <a href="/blog"> <span>Blog</span></a>
                                         </li>
                                         <li class="trail-item">
                                            <span>Search</span>
                                         </li>
                                      </ul>
                                   </nav> 
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-banner-area-end -->

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3">
    <h2>Search results : </h2>
    {% if allPosts|length < 1 %}
   <p>No search results</p>
    Your search query : <b>{{query}}</b> did not match any documents. <br>
    Suggestions:
    <ul>
    <li>Make sure that all words are spelled correctly.</li>
    <li>Try more general keywords.</li>
   <li> Try fewer keywords.</li>
   <li> Try different keywords.</li>
    </li>
    </ul>


    {% endif %}
 
    <div class="blog-area mt-120 mb-75">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3">
            <div class="row">
              <div class="col-xl-8 col-lg-7">
                <div class="row">
                    {% for post in allPosts  %}
                    <div class="col-xl-6">
                        <div class="single-smblog mb-30">
                            <div class="smblog-thum">
                                <div class="blog-image w-img image-wrapper" style="height:22rem;">
                                    <a href="/blog/{{post.slug}}"><img src='/media/{{post.image}}' alt=""></a>
                                </div>
                                <div class="blog-tag blog-tag-2">{% if post.tags.all.count > 0 %} {% for tag in post.tags.all %}
                                    <li> <a href="/blog/{{post.slug}}">{{tag.title}}</a></li>
                                    {% endfor %}
                                    {% else %}
                                    None
                                     {% endif %}
                                    </div>
                            </div>
                            <div class="smblog-content smblog-content-3">
                                <h6><a href="/blog/{{post.slug}}">{{post.title}} </a></h6>
                                <span class="author mb-10">posted by <a href="#">{{post.author}}</a></span>
                                <p>{{post.content|safe| truncatechars:500}}</p>
                                <div class="smblog-foot pt-15">
                                    <div class="post-readmore">
                                        <a href="/blog/{{post.slug}}"> Read More <span class="icon"></span></a>
                                    </div>
                                    <div class="post-date">
                                        <a href="#">{{post.timeStamp}}</a>  
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="basic-pagination text-center pt-30 pb-30">
                            <nav>
                                <ul class="page-numbers">
                                    {% if blogs.has_previous %}
                                    <li><a href="?page={{blogs.previous_page_number}}"><i class="fa fa-angle-double-left"></i></a></li>
                                    {% endif %}
                                    {% for page in allPosts.paginator.page_range %}
                                    {% if page == allPosts.number %}
                                    <li class="active"><a href="?page={{page}}">{{page}}</a></li>
                                    {% else %}
                                    <li><a href="?page={{page}}">{{page}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if blogs.has_next %}
                                    <li><a href="?page={{blogs.next_page_number}}"><i class="fa fa-angle-double-right"></i></a></li>
                                    {% endif %}
                                </ul>
                             </nav>
                         </div>
                    </div>
                </div>
              </div>

               <!--<div class=" col-xl-4 col-lg-5">
                <div class="news-sidebar pl-10">
                   <div class="mx-15 row">
                       <div class="col-lg-12 col-md-12">
                           <div class="widget">
                               <h5 class="sidebar-title" type="submit"> Search Here</h5>
                               <div class="n-sidebar-search">
                               <form method="get" action="/education/search">
                               <input class="form-control" type="search" placeholder="Search your keyword..." aria-label="Search" name="query" id="query">
                               <button><a> <i class="fal fa-search" type="submit"></i></a></button>
                             </form>
                           </div>
                           </div>
                       </div>
                       <div class="col-lg-12 col-md-12">
                           <div class="widget">
                              <h6 class="sidebar-title">Popular Feeds</h6>
                              <div class="n-sidebar-feed">
                                    <ul>
                                       
                                    </ul>
                              </div>
                           </div>
                         </div>
                       <div class="col-lg-12 col-md-12">
                         <div class="widget">
                            <h6 class="sidebar-title">Related Posts</h6>
                            <div class="n-sidebar-feed">
                                  <ul>
                                   {% for blog in blogs|slice:"3" %}
                                     <li>
                              
                                        <div class="feed-content">
                                              <h6><a href="{% url 'blogPost' blog.slug %}">{{blog.title}}</a></h6>
                                              <span class="feed-date">
                                                 <i class="fal fa-calendar-alt"></i> {{blog.created_date}}
                                              </span>
                                        </div>
                                     </li>
                                     {% endfor %}
                                  </ul>
                            </div>
                         </div>
                       </div>
                       <div class="col-lg-12 col-md-6">
                           <div class="widget">
                               <h6 class="sidebar-title">Categories</h6>
                               
                               <ul class="n-sidebar-categories">
                                   {% for category in category %}
                               
                                   <li><a href="{% url 'category_blogs' category.slug %}">
                                   <div class="single-category p-relative mb-10">{{category.title}}
                                   <span class="category-number">{{category.count}}</span>
                                           </div>
                                       </a>
                                   </li>
                                   {% endfor %} 
                               </ul>
                           </div>
                       </div>
                      <div class="col-lg-12 col-md-6">
                           <div class="widget">
                               <h6 class="sidebar-title">Instagram Feeds</h6>
                               {% for tag in tags %}
                               <div class="dktags">
                                 <li> <a class="single-tag" href="{% url 'tag_blogs' tag.slug %}">{{tag.title}}</a></li>
                                  {% endfor %}
                              </div>
                           </div>
                       </div>
                   </div>-->
               </div>
             </div>
          </div>
       </div>
    </div>
    <!-- news-detalis-area-end  -->
    <script>
       let previews=document.getElementsByClassName('preview');
       Array.from(previews).forEach((element))=>{
           element.innerHTML=element.innerText;
       })
     </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

{% endblock%}