{% extends 'home/base.html' %}
{% block title %}Printing Products
{% endblock title %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'Trims/style(3).css' %}">
<link rel="stylesheet" href="{% static 'Trims/mbr-additional.css' %}" type="text/css">


<div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="10000">
    <img src="{% static 'printing\Banner.gif' %}" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>K Mean Black Co.</h5>
    </div>
  </div>         
</div>
    
<section class="mbr-gallery mbr-slider-carousel cid-r1y0wN9Vcm" id="gallery1-1t">
  <section class="features4 cid-r1y0pck8Nv cid-rR7CaC6iKS" id="features4-1q">
    
    
    
    <div class="text-center row mb-4">
      <div class="col-lg-12 align-center">
        <h2 class="my-3 mbr-fonts-style mbr-section-title mbr-bold mbr-black display-2">POUCHES
          </h2>
        <div class="container">
        <p class="mbr-text mbr-fonts-style display-7">Stand-up pouches are one of the most common forms of flexible pouches on the current market, and many people are more familiar with them. However, they might not be the ideal option for your packaging requirements.
        </p>
      </div>
      </div>
  </div>
    <div>
        <div><!-- Filter --><!-- Gallery -->
          <div class="mbr-gallery-row" style="position: relative; height: 400px;">
          <div class="mbr-gallery-layout-default">
          <div><div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Awesome" style="position: absolute; left: 0%; top: 0px;">
          <div href="#lb-gallery1-1t" data-slide-to="0" data-toggle="modal"><img src="{% static 'Trims\Flexible\Pouches\Stand up pouch.jpg' %}" alt="" title=""><div class="card-box bg-black">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
                Stand Up Pouch</h4>
        </div><span class="icon-focus"></span>
      </div></div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Responsive" style="position: absolute; left: 24.9605%; top: 0px;"><div href="#lb-gallery1-1t" data-slide-to="1" data-toggle="modal"><img src="{% static 'Trims\Flexible\Pouches\Sprout Pouch.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
            Sprout Pouch</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Creative" style="position: absolute; left: 49.9868%; top: 0px;"><div href="#lb-gallery1-1t" data-slide-to="2" data-toggle="modal"><img src="{% static 'Trims\Flexible\Pouches\3 side pouch.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
             3 Side Seal Pouch</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animated" style="position: absolute; left: 74.9473%; top: 0px;"><div href="#lb-gallery1-1t" data-slide-to="3" data-toggle="modal"><img src="{% static 'Trims\Flexible\Pouches\Flat bottom.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
            Flat Bottom Pouch</h4>
      </div>
  </div></div>
    
  </div></div></div></div>
        <div class="clearfix"></div></div></div>
        
        
        <!-- Lightbox -->
        
        <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery1-1t"><div class="modal-dialog" style="width: 784px; top: 10px;"><div class="modal-content"><div class="modal-body"><div class="carousel-inner">
          
          <div class="carousel-item active"><img src="{% static 'Trims\Flexible\Pouches\Stand up pouch.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Flexible\Pouches\Sprout Pouch.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Flexible\Pouches\3 side pouch.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Flexible\Pouches\Flat bottom.jpg' %}" alt="" title=""></div>
         
        </div></a></div></div></div></div></div>
    </div>
  </div>
</section>

<section class="features4 cid-r1y0pck8Nv cid-rR7CaC6iKS" id="features4-1q">
    
    
    
  <div class="text-center pt-5 mt-5 row mb-4">
    <div class="col-lg-12 align-center">
      <h2 class="my-3 mbr-fonts-style mbr-section-title mbr-bold mbr-black display-2">SHRINK SLEEVES & IML </h2>
      <div class="container">
      <p class="mbr-text mbr-fonts-style display-7">Versatile labels that conform to the shape of the container when heat is applied, offering 360-degree branding opportunities.
        
      </p>
    </div>
  </div>
</div>
  <div>
      <div><!-- Filter --><!-- Gallery -->
        <div class="mbr-gallery-row" style="position: relative; height: 400px;">
          <div class="mbr-gallery-layout-default">
          <div><div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Awesome" style="position: absolute; left: 0%; top: 0px;">
          <div href="#lb-gallery2-1t" data-slide-to="0" data-toggle="modal"><img src="{% static 'Trims\Flexible\Shrink Sleeve\Shrink.jpg' %}" alt="" title=""><div class="card-box bg-black">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
               Shrink Sleeve</h4>
        </div><span class="icon-focus"></span>
      </div></div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Responsive" style="position: absolute; left: 24.9605%; top: 0px;"><div href="#lb-gallery2-1t" data-slide-to="1" data-toggle="modal"><img src="{% static 'Trims\Flexible\Shrink Sleeve\shrink label.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
             Shrink Label</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Creative" style="position: absolute; left: 49.9868%; top: 0px;"><div href="#lb-gallery2-1t" data-slide-to="2" data-toggle="modal"><img src="{% static 'Trims\Flexible\Shrink Sleeve\IML.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              In Mold Label</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animated" style="position: absolute; left: 74.9473%; top: 0px;"><div href="#lb-gallery2-1t" data-slide-to="3" data-toggle="modal"><img src="{% static 'Trims\Flexible\Shrink Sleeve\Bottel Wrapper.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
             Bottle Wrapper</h4>
      </div>
  </div></div>
        
  </div></div></div></div>
        <div class="clearfix"></div></div></div>
        
        
        <!-- Lightbox -->
        
        <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery2-1t"><div class="modal-dialog" style="width: 784px; top: 10px;"><div class="modal-content"><div class="modal-body"><div class="carousel-inner">
          
          <div class="carousel-item active"><img src="{% static 'Trims\Flexible\Shrink Sleeve\Shrink.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Flexible\Shrink Sleeve\shrink label.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Flexible\Shrink Sleeve\IML.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Flexible\Shrink Sleeve\Bottel Wrapper.jpg' %}" alt="" title=""></div>
          
        </div></a></div></div></div></div></div>
    </div>
  </div>
</section>

<section class="features4 cid-r1y0pck8Nv cid-rR7CaC6iKS" id="features4-1q">
    
    
    
  <div class="text-center pt-5 mt-5 mb-4 row">
    <div class="col-lg-12 align-center">
      <h2 class="mbr-fonts-style mbr-section-title mbr-bold mbr-black display-2">LABELS</h2>
      <div class="container">
      <p class="mbr-text mbr-fonts-style display-7">
        Packaging labels is the technology of enclosing or protecting products for distribution, storage, sale and use
      </p>
    </div>
    </div>
</div>
  <div>
      <div><!-- Filter --><!-- Gallery -->
        <div class="mbr-gallery-row mb-5 pb-5" style="position: relative; height: 400px;">
          <div class="mbr-gallery-layout-default">
          <div><div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Awesome" style="position: absolute; left: 0%; top: 0px;">
          <div href="#lb-gallery4-1t" data-slide-to="0" data-toggle="modal"><img src="{% static 'Trims\Flexible\Sticker\sticker.jpg' %}" alt="" title=""><div class="card-box bg-black">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
                Paper Sticker</h4>
        </div><span class="icon-focus"></span>
      </div></div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Responsive" style="position: absolute; left: 24.9605%; top: 0px;"><div href="#lb-gallery4-1t" data-slide-to="1" data-toggle="modal"><img src="{% static 'Trims\Flexible\Sticker\Label 1.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              Labels</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Creative" style="position: absolute; left: 49.9868%; top: 0px;"><div href="#lb-gallery4-1t" data-slide-to="2" data-toggle="modal"><img src="{% static 'Trims\Flexible\Sticker\Label 2.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
             Flexible labels</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animated" style="position: absolute; left: 74.9473%; top: 0px;"><div href="#lb-gallery4-1t" data-slide-to="3" data-toggle="modal"><img src="{% static 'Trims\Flexible\Sticker\sticker 1.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
             Sticker</h4>
      </div>
  </div></div>
        
        
        <div class="clearfix"></div></div></div>
        
        
        <!-- Lightbox -->
        
        <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery4-1t"><div class="modal-dialog" style="width: 784px; top: 10px;"><div class="modal-content"><div class="modal-body"><div class="carousel-inner">
          
          <div class="carousel-item active"><img src="{% static 'Trims\Flexible\Sticker\sticker.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Flexible\Sticker\Label 1.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Flexible\Sticker\Label 2.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Flexible\Sticker\sticker 1.jpg' %}" alt="" title=""></div>
        </div></a></div></div></div></div></div>
    </div>
  </div>
</section>


</section>
</section>
<script src="{% static 'Trims/masonry.pkgd.min.js.download' %}"></script>
  <script src="{% static 'Trims/script.js.download' %}"></script>
  <script src="{% static 'Trims/script.js(2).download' %}"></script>
  
{% endblock %}
