{% extends 'home/base.html' %}
{% block title %}Printing Solution
{% endblock title %}
{% load static %}
{% block body %}

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'printing\printing banner.gif' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>K Mean Black Co.</h5>
              <p>“Relentlessly prune bullshit, don't wait to do things that matter, and savor the time you have. That's what you do when life is short.” </p>
            </div>
          </div>         
        </div>
      </div>

      <section class="header3 vertical-line cid-rRvOleaITp" id="content1-m">

    
<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-lg-5 mb-4 mb-lg-0">
      <div class="mbr-figure">
        <img src="{% static 'printing/printing about us.png' %}" alt="KMeanBlack" title="" class="img-fluid">
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="media-content">
        <div class="line line-title"></div>
        <h2 class="mbr-section-title align-left mbr-bold mbr-black mbr-fonts-style display-2">About US</h2>
        <h3 class="mbr-section-subtitle mbr-bold align-left mbr-fonts-style display-7">
          Packaging created for the world's leading brands
        </h3>
        <div class="mbr-section-text">
          <p class="mbr-text align-left mbr-fonts-style display-5">
            We are here to make it easy and simple for you to create stunning business brands globally and promotional pieces that will effectively present your image and help you communicate proficiently. Along with being a bespoke packaging manufacturer for both rigid and corrugated products. We work with brand leaders across industries such as Fast Moving Consumer Goods, Food & Beverages, Pharmaceutical, Electronic, Retail and other white good industries.
          </p>
        </div>
        <h3 class="mbr-section-subtitle mbr-bold align-left mbr-black mbr-fonts-style display-6">K Mean Black</h3>
      </div>
    </div>
  </div>
</div>
</section>

<section class="mbr-section article content12 cid-rRAisYuVPl" id="content2-r">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <h3 class="mbr-fonts-style mbr-title mbr-bold display-5">Who we are</h3>
        <div class="mbr-text mbr-fonts-style display-7">
          K Mean Black is one of India’s leading packaging solutions providers. Combining the expertise of its team members with contemporary and vintage printing techniques, Captain has the skill, the equipment, and the experience to bring your project to life.
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <h3 class="mbr-fonts-style mbr-title mbr-bold display-5">Our philosophy</h3>
        <div class="mbr-text mbr-fonts-style display-7">
          Our mission is to supply innovative and sustainable packaging that is better for the Earth and for our customers. All our offerings display your brand in style ensuring safe delivery of all the products.
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <h3 class="mbr-fonts-style mbr-title mbr-bold display-5">How we work</h3>
        <div class="mbr-text mbr-fonts-style display-7">
          We offer a complete range of carton styles complemented by a wide variety of print finishes ranging from foil stamping, embossing, varnishing, and a variety of security features. We create a customized workflow for each project to meet your budget and timeline. Choose from Classic, natural Kraft, or environmentally-friendly paper stock using our interactive online designs, or upload your own file.
        </div>
      </div>
    </div>
  </div>
</section>

     
      <section once="footers" class="cid-rR2EC09155 cid-rR7CaC6iKS" id="contacts2-d" id="footer1-i">
      <div class="centre">
        <h1 class="mb-5 display-3 text-white text-center gap-10"><strong>Work Process</strong></h1>
          
        <div class="row row-cols-1 lg-300, row-cols-lg-600, row-cols-lg-8, row-col-mf-8, row-col-mj-8, row-col-lg-8,  g-5 lg-800">


          <div class="position-relative align-center overflow-hidden" style="width: 900px;">
            <div class="media-container-row mbr-white col-lg-20">
              <div class="row-copirayt col-lg-12 col-md-12 col-lg-12">
                  <img src="{% static 'printing\CAD_en.gif'%}" class="card-img-top" alt="...">
                  <div class="card-body py-2">
                      <h5 class="display-3 text-white card-title"> Packaging Design Structure</h5>
                      <p class="py-2 display-5 text-white card-text start">Utilizing: ArtiosCAD® ​</p>
                          
                          <p class="display-5 text-white card-text start"> We design and create sustainable packaging that make your brand and reduces cost. ​</p>
                          
                          ​
                          
                          <p class="text-white card-text start">   • Less product damage ​</p>
                          
                            <p class="text-white card-text start"> • Reduced material usage ​</p>
                          
                              <p class="text-white card-text start"> • Faster to assemble and pack out ​</p>
                          
                                <p class="text-white card-text start mb-4">• Reduced logistics costs ​</p>
                          
                         
                    </div>              
                    
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                       </div>
                  </div>
                </div>
              </div>
          </div>
  
          <div class="position-relative overflow-hidden" style="width: 895px;">
              <div class="media-container-row mbr-white col-lg-20">
                <div class="row-copirayt col-lg-12 col-md-12 col-lg-8 mt-4">
                  <img src="{% static 'printing\man-performing-packaging-testing-on-a-corrugate-box.png' %}" class="card-img-top" alt="...">
                  <div class="card-body py-2">
                      <h5 class="display-3 text-white card-title">Package Testing</h5>
                      <p class="py-2 text-white card-text">Integrated package testing labs that could be fulfil your requirement. Why is this important? conduct different tests to evaluate incoming and outgoing materials which ensures quality delivered to customers.</p>
                   
                    </div>              
                    
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                       </div>
                  </div>
                </div>
              </div>
          </div>           

          

          <div class="position-relative overflow-hidden" style="width: 895px;">
            <div class="media-container-row mbr-white col-lg-12">
              <div class="row-copirayt col-lg-12 col-md-12 col-lg-12 pt-5 mt-5">
                  <img src="{% static 'printing\printing packaging design.gif' %}" class="card-img-top-bg-dark" alt="...">
                  <div class="card-body-bg-dark py-2">
                      <h5 class="display-3 text-white card-title">Packaging Design development</h5>
                      <p class="py-2 text-white card-text">Our dedicated designers creation logo, identity and graphic design from your idea, let K Mean Black create or refresh your existing brands.
  
                          Let's go!</p>
                          <p class="py-2 text-white card-text">our inhouse team of professional packaging designers provide brand packaging solutions across various market sectors. 
                            We are development of proprietary packaging and solutions that cater to ever changing consumer needs. </p>  
                
                    </div>              
                    
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                       </div>
                  </div>
                </div>
              </div>
          </div> 
        
          
          <div class="position-relative overflow-hidden mx-auto" style="width: 550px;">
            <div class="media-container-row mbr-white col-lg-20">
              <div class="row-copirayt col-lg-12 col-md-12 col-lg-12 pt-5 mt-5">
                  <img src="{% static 'printing\measuring-with-iO-1.gif' %}" class="card-img-top-bg-dark" alt="...">
                  <div class="card-body-bg-dark py-2">
                      <h5 class="display-3 text-white card-title">
                          Print Quality Control</h5>
                      <p class="py-2 text-white card-text">Utilizing: X-Rite®  software and tools, our dedicated team of quality control professionals monitor all aspects of K Mean Black every print job is upto the mark and the shade of the colors meets the international standards. It is also an important factor in producing high quality printed boxes.</p>
               
                    </div>              
                    
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                       </div>
                  </div>
                </div>
              </div>
          </div> 
  
          <div class="position-relative overflow-hidden" style="width: 1700px;">
            <div class="media-container-row mbr-white col-lg-12">
              <div class="row-copirayt col-lg-12 col-md-12 col-lg-12 pt-5 mt-5">
                <img src="{% static 'printing\printing techniques consol.jpg' %}" class="card-img-top-bg-dark" alt="...">
                <div class="card-body">
                    <h5 class="display-3 text-white card-title">
                      Printing: Offset, Flexo, Silkscreen and Gravure</h5>
                    <p class="py-2 text-white card-text">We have an offset lithography, digital, flexo, slik and gravure printing which allows us to manufacture and supply all possible packaging products to our customers spec. we are using above printing processes and technique to help to grow your brand with different printing specilities.</p>
            
                  </div>              
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                     </div>
                </div>
              </div>
            </div>
        </div> 
  
          <div class="position-relative overflow-hidden mx-auto" style="width: 1000px;">
            <div class="media-container-row mbr-white col-lg-20">
              <div class="row-copirayt col-lg-12 col-md-12 col-lg-12 pt-5 mt-5">
              <img src="{% static 'printing\packaging manufacturing.gif' %}" class="card-img-top " alt="...">
              <div class="card-body py-2">
                  <h5 class="display-3 text-white card-title">
                    Packaging Manufacturing</h5>
                  <p class="py-2 text-white card-text">
                    With extensive fully automatic infrastructure such as laminator, folder gluer, window patching, fully automatic rigid box making and more we have a very high inhouse box making capacity. Collapsible Boxes, Rigid Boxes, Corrugated Boxes, Mono Cartons, Paper Carry Bags.</p>
          
                </div>              
              </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                   </div>
              </div>
            </div>
          </div>
      </div> 
  
      <div class="position-relative overflow-hidden">
        <div class="media-container-row mbr-white col-lg-12">
          <div class="row-copirayt col-sm-12 col-md-12 col-lg-12 pt-5 mt-5">
            <div class="card-center-body text-center">
              <div class="card-body py-2">
                <h5 class="display-3 text-white card-title">
                 Supply Chain Services</h5>
              <h5 class="display-5 text-danger card-title-center">
                Reduce Your Packaging And Logistics Costs</h5>
                <p class="py-2 text-white card-text">Continuity of Supply–
  
                  Our dedicated team of professionals coupled with digitized workflow systems and strategy ensure your packaging is well executed and delivered on time.</p>
              </div>
            <div class="">
            <img src="{% static 'printing\printing logistic.gif' %}" class="card-img-top" alt="..."></div>
            <div class="mt-5 pt-5 card-center-body text-center">
                <h5 class="display-5 text-danger card-title-center">
                  K Mean Black global packaging design terms:</h5>
                <p class="py-2 text-white card-text">• Reduce total packaging cost through improved design, materials and logistics.</p>
                <p class="py-2 text-white card-text-center"> • Optimize, Rightsize and reduce cube resulting in less container shipments.</p>
               
              </div>              
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 </div>
            </div>
          </div>
        </div>
    </div> 
    
      <!--<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
       
      <img src="{% static 'printing\Quote Marks.webp' %}" class="card-img-top-bg-dark img-center pb-4" alt="...">
      <p class="py-2 text-white text-center">We reduce material usage and optimize packaging for improved logistics. </p>
      <p class="py-2 text-white text-center">We're designing sustainable packaging with the end-user in mind. </p>
      <p class="py-2 text-white text-center">We're reducing ocean plastics. </p>
      <p class="py-2 text-white text-center">Continuously bringing sustainable innovation to our clients. </p>
      <p class="py-2 text-white text-center">We're helping our customers achieve circular economies. </p>
      <p class="py-2 text-white text-center">Let's work together to reduce our impact on the planet for the next generations.  </p>-->
              </div>
              </div>
            </section>
            <div class="container-fluid">
              <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            
                <h1 class="text-bold display-2 fw-normal">
                  Sustainability is built into every packaging project we produce.
                </h1>
            
                <div class="position-relative overflow-hidden">
                  <div class="media-container-row mbr-white col-lg-12">
                    <div class="row-copirayt col-sm-12 col-md-12 col-lg-12 pt-5 mt-5">
                      <div class="card-center-body text-center">

                      <div class="">
                        <img src="{% static 'printing/substainbility.gif' %}" class="card-img-top" alt="Sustainability GIF"></div>
                        <div class="title-block mt-4">
                          <h4 class="mbr-fonts-style signature mbr-bold display-5">
                            <a href="/printing/Sustainable" class="mbr-bold">Sustainable Cartons</a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
            
              </div>
            </div>   
                   
                    

  <section class="mbr-section info3 cid-rRvVzJycbo" id="info3-n">
    <div class="container">
           <div class="text-center row">
               <div class="col-lg-12 align-center">
                 <h2 class="mbr-fonts-style mbr-section-title mbr-bold mbr-black display-2">BOXES AND PACKAGING</h2>
                 
                 <p class="mbr-text mbr-fonts-style display-7">K Mean Black offers its customers a wide collection of packaging products begining from corrugated boxes to custom packaging boxes to mono cartons to window patches to carry bags to rigid boxes.
                 </p>
               </div>
           </div>
       </div>
   </section>
   
   
   <section class="carousel slide testimonials-slider extTestimonials cid-rR2ExrbR9A" data-interval="false" id="slider1-5">
    <div class="container-fluid align-center">
         <div class="row">
           <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false" id="slider1-5-carousel">
               
               <!-- <div mbr-list mbr-list-grow="testimonialsSlides" class="carousel-inner"> -->
                   <ol class="carousel-indicators">
                       <li data-target="#slider1-5-carousel" data-slide-to="0" class="active"></li>
                       <li data-target="#slider1-5-carousel" data-slide-to="1"></li>
                      
                     </ol>
                   <div class="carousel-item active">
                       <div class="row justify-content-center">
                           <div class="col-md-4 img-card col-lg-3">                          
                               <div class="img-block">
                                 <div class="wrapper-img">
                                     <img src="{% static 'printing\Hang Tag.gif' %}" alt="" title="">
                                 </div>
                                 <div class="title-block">
                                   <h4 class="mbr-fonts-style signature mbr-bold display-5"><a href="/printing/accessories" class="mbr-bold text-white">Hang Tag & Accessories</a>&nbsp;</h4>
                                 </div>
                               </div>
                           </div>
                           <div class="col-md-4 img-card col-lg-3">
                               
                               <div class="img-block">
                                 <div class="wrapper-img">
                                     <img src="{% static 'printing\flexible packaging.gif'%}" alt="" title="">
                                    
                                 </div>
                                 <div class="title-block">
                                   <h4 class="mbr-fonts-style signature mbr-bold display-5"><a href="/printing/flexible" class="mbr-bold text-white">Flexible Packaging</a><br></h4>                   
                                   </div>
                               </div>           
                           </div>
                           
                           <div class="col-md-4 img-card col-lg-3">
                               <div class="img-block">
                                   <div class="wrapper-img">
                                       <img src="{% static 'printing\carry bag.gif' %}" alt="" title="">
                                   </div>
                                   <div class="title-block">
                                     <h4 class="mbr-fonts-style signature mbr-bold display-5"><a href="/printing/rigidbox" class="mbr-bold text-white">Carry Bag</a><br></h4>                   
                                    </div>
                               </div>                    
                           </div>
                           
                       </div>
                   </div>
               
              </div>
           </div>
       <!-- </div> -->
   </section>
   
   
   <section class="carousel slide testimonials-slider extTestimonials cid-rR2ExrbR9A" data-interval="false" id="slider1-5">
     <div class="container-fluid align-center">
          <div class="row">
            <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false" id="slider1-5-carousel">
                
                <!-- <div mbr-list mbr-list-grow="testimonialsSlides" class="carousel-inner"> -->
                    <ol class="carousel-indicators">
                        <li data-target="#slider1-5-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider1-5-carousel" data-slide-to="1"></li>
                       
                      </ol>
                    <div class="carousel-item active">
                        <div class="row justify-content-center">
                            <div class="col-md-4 img-card col-lg-3">                          
                                <div class="img-block">
                                  <div class="wrapper-img">
                                      <img src="{% static 'printing\Corrugated.gif' %}" alt="" title="">
                                  </div>
                                  <div class="title-block">
                                    <h4 class="mbr-fonts-style signature mbr-bold display-5"><a href="/printing/trims" class="mbr-bold text-white">Mono & Corrugated Cartons</a>&nbsp;</h4>                   
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 img-card col-lg-3">
                                
                                <div class="img-block">
                                  <div class="wrapper-img">
                                      <img src="{% static 'printing\hard box.gif' %}" alt="" title="">
                                     
                                  </div>
                                  <div class="title-block">
                                    <h4 class="mbr-fonts-style signature mbr-bold display-5"><a href="/printing/rigidbox" class="mbr-bold text-white">Rigid (Gift) Box</a><br></h4>                   
                                   </div>
                                </div>           
                            </div>
                            
                            <div class="col-md-4 img-card col-lg-3">
                                <div class="img-block">
                                    <div class="wrapper-img">
                                        <img src="{% static 'printing\Sustainable.gif' %}" alt="" title="">
                                    </div>
                                    <div class="title-block">
                                      <h4 class="mbr-fonts-style signature mbr-bold display-5"><a href="/printing/sustainabletrims" class="mbr-bold text-white">Sustainable Cartons</a><br></h4>                   
                                    </div>
                                </div>                    
                            </div>
                            
                        </div>
                    </div>
                
                   </div>
            </div>
        <!-- </div> -->
    </section>
  <!--  <section class="py-5 bg-light" id="infrastructure">
	    <div class="container">-->
        <!-- Title -->
       <!-- <h2 class="text-center mb-4">Our Infrastructure</h2>
        <p class="text-center mb-5">
          Our printing house is equipped with robust and world-class machines that deliver ultra-modern branding and packaging products. We ensure eco-friendly operations and uphold high-quality standards with a technically sound team.
	</p>-->
    
        <!-- Technology & Quality Infrastructure -->
	<!-- <div class="row mb-4 gy-4">-->
          <!-- Technology -->
        <!--  <div class="col-lg-6 mb-4">
            <h4 class="mb-3">Technology Infrastructure</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Heidelberg SM74LX 5 Color+Coater</li>
              <li class="list-group-item">Konica Digital Press 6085</li>
              <li class="list-group-item">Polar Heidelberg Automatic Cutting Machine</li>
              <li class="list-group-item">Semi Auto Die Cutting Machine</li>
              <li class="list-group-item">Semi Auto Leafing Machine</li>
              <li class="list-group-item">Semi Auto Lamination Machine</li>
              <li class="list-group-item">Semi Auto Thermal Lamination Machine</li>
              <li class="list-group-item">Semi Auto Blade Cutting Machine</li>
              <li class="list-group-item">Semi Auto Crease Machine</li>
              <li class="list-group-item">Semi Auto Sheet to Sheet Pasting Machine</li>
              <li class="list-group-item">Manual Screen Table (2 units)</li>
              <li class="list-group-item">Sample Maker Graph Tech</li>
            </ul>
	  </div>-->
    
          <!-- Quality -->
       <!--   <div class="col-lg-6 mb-4">
            <h4 class="mb-3">Quality Infrastructure</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Press-Sign Software I-One Pro</li>
              <li class="list-group-item">X-Rite Advanced Spectrometer</li>
              <li class="list-group-item">Color Quality Management Software (X-Rite)</li>
              <li class="list-group-item">Ink Formulation Software (X-Rite)</li>
              <li class="list-group-item">Press-Sign Auto Color Control Software</li>
              <li class="list-group-item">In-house Ink Lab</li>
              <li class="list-group-item">Scan-O-Lite Color Matching Booth</li>
              <li class="list-group-item">Pre-Press Interface System (Heidelberg)</li>
              <li class="list-group-item">Esko Art Pro+ (Advanced)</li>
              <li class="list-group-item">Axicon 6000 Series (Barcode Verifier)</li>
            </ul>
          </div>
	</div>-->
    
        <!-- FSC Note -->
        <div class="text-center mt-4">
          <p class="fw-semibold">
            We provide 100% FSC Certified paper tailored to client needs, ensuring sustainability and integrity.
          </p>
        </div>
    
        <!-- Packaging Partner -->
        <div class="text-center my-5">
          <h5 class="fw-bold text-dark mb-3">Our Packaging Partner</h5>
          <img src="{% static 'printing\logo-img.png'%}" style="height: 80px;" class="mb-3">
          <p class="text-muted">We proudly partner with <strong>Encode Printer</strong> for premium packaging excellence.</p>
          
        </div>
    
        <!-- Customer Experience Section -->
        <div class="mt-5">
          <h4 class="text-center mb-4 text-secondary fw-bold">Customer Experience</h4>
          <div class="row text-center">
            <div class="col-md-4 mb-4">
              <div class="card h-100 border-0 shadow-sm p-3">
                <i class="bi bi-shield-check display-6 text-success mb-3"></i>
                <h6 class="fw-semibold">Trusted Quality</h6>
                <p class="text-muted small">We follow rigorous quality checks to meet the most demanding customer specifications.</p>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card h-100 border-0 shadow-sm p-3">
                <i class="bi bi-globe2 display-6 text-primary mb-3"></i>
                <h6 class="fw-semibold">Eco-Conscious Practices</h6>
                <p class="text-muted small">Our processes are aligned with sustainability, minimizing environmental impact.</p>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card h-100 border-0 shadow-sm p-3">
                <i class="bi bi-person-heart display-6 text-danger mb-3"></i>
                <h6 class="fw-semibold">Customer-Centric Team</h6>
                <p class="text-muted small">Our professional team delivers timely support and customized solutions for every client.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
<!-- Customer Logo Carousel -->
<!--<section class="py-5 bg-light">
  <div class="text-center mb-5">
    <h2 class="fw-bold text-uppercase text-dark mb-2" style="letter-spacing: 1px;">Our Customers</h2>
    <p class="text-muted lead" style="max-width: 600px; margin: auto;">
      We are proud to have partnered with a diverse range of clients who trust us for quality, reliability, and innovation.
    </p>
  </div>
  
    <div class="customer-slider overflow-hidden">
      <div class="customer-track d-flex">
        <!-- Repeat logos -->
    <!--    <div class="customer-logo px-4">
		<img src="{% static 'printing\sainsbury.jpg'%}" height="60">
        </div>
        <div class="customer-logo px-4">
          <img src="{% static 'printing\target.jpg'%}" alt="Customer 2" height="60">
        </div>
        <div class="customer-logo px-4">
          <img src="{% static 'printing\tecos.jpg'%}" alt="Customer 3" height="60">
        </div>
        <div class="customer-logo px-4">
          <img src="{% static 'printing\stanley.jpg'%}" alt="Customer 4" height="60">
        </div>
        <div class="customer-logo px-4">
          <img src="{% static 'printing\jobsmart.jpg'%}" alt="Customer 5" height="60">
        </div>
        <!-- Duplicate logos for infinite loop -->
       <!-- <div class="customer-logo px-4">
          <img src="{% static 'printing\northern.jpg'%}" alt="Customer 1" height="60">
        </div>
        <div class="customer-logo px-4">
          <img src="{% static 'printing\the-home-depot.jpg'%}" alt="Customer 2" height="60">
        </div>
        <div class="customer-logo px-4">
          <img src="{% static 'printing\power.jpg'%}" alt="Customer 3" height="60">
        </div>
        <div class="customer-logo px-4">
          <img src="{% static 'printing\pittsburgh.jpg'%}" alt="Customer 4" height="60">
        </div>
        <div class="customer-logo px-4">
          <img src="{% static 'printing\boxer.jpg'%}" alt="Customer 5" height="60">
        </div>
      </div>
    </div>
  </div>
</section>-->

<!-- CSS -->
<style>
.customer-slider {
  position: relative;
  width: 100%;
}

.customer-track {
  display: flex;
  width: max-content;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.customer-logo img {
  max-height: 60px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.customer-logo img:hover {
  filter: grayscale(0%);
}
</style>


    <!-- Bootstrap Icons (needed for icons) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
     
    
    
  {% endblock %}
      
