{% extends 'home/base.html' %}
{% block title %}Printing Products
{% endblock title %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'Trims/style(3).css' %}">
<link rel="stylesheet" href="{% static 'Trims/mbr-additional.css' %}" type="text/css">



<div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="10000">
    <img src="{% static 'printing\Banner.gif' %}" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>K Mean Black Co.</h5>
    </div>
  </div>         
</div>
<section class="mbr-gallery mbr-slider-carousel cid-r1y0wN9Vcm" id="gallery1-1t">

<section class="features4 cid-r1y0pck8Nv cid-rR7CaC6iKS" id="features4-1q">
    
    
    
  <div class="text-center pt-5 mt-5 row mb-4">
    <div class="col-lg-12 align-center">
      <h2 class="my-3 mbr-fonts-style mbr-section-title mbr-bold mbr-black display-2">RIGID/HARD BOXES & PAPER BAGS</h2>
      <div class="container">
      <p class="mbr-text mbr-fonts-style display-7">A chipboard is 4 times thicker than a normal board (1.2 mm to 3 mm thick), it is die cut, grooved on all edges, folded, and overlaid with what we call PLC (printed laminated cover - it is a 130 gsm to 180 gsm art paper - printed and embellished); can also use PU/fabric/leather. You can find different types with rigid box manufacturer like telescopic (top/bottom), drawer and sleeve style, shoe box style, hinge book fold style. <br><br>A paper bag is made of kraft paper. Paper bags are commonly used as shopping bags, packaging, and sacks. Paper Bags come with fancy handles, customized branding, and a wide variety of surface finishes. Famous clothes store designs their paper bags with their own company or brand logo to attract customers. Printing company name or logo on paper bags serve as a form of promotion or marketing strategy.
      </p>
    </div>
  </div>
</div>
  <div>
      <div><!-- Filter --><!-- Gallery -->
        <div class="mbr-gallery-row" style="position: relative; height: 900.6px;">
          <div class="mbr-gallery-layout-default">
          <div><div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Awesome" style="position: absolute; left: 0%; top: 0px;">
          <div href="#lb-gallery3-1t" data-slide-to="0" data-toggle="modal"><img src="{% static 'Trims\Hard and carry bag\hard box Hemphis cosmetic.jpg' %}" alt="" title=""><div class="card-box bg-black">
            <h4 class="card-title mbr-fonts-style mbr-bold display-5">
               Cosmetic</h4>
        </div><span class="icon-focus"></span>
      </div></div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Responsive" style="position: absolute; left: 24.9605%; top: 0px;"><div href="#lb-gallery3-1t" data-slide-to="1" data-toggle="modal"><img src="{% static 'Trims\Hard and carry bag\hard box automobile.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              Automobile</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Creative" style="position: absolute; left: 49.9868%; top: 0px;"><div href="#lb-gallery3-1t" data-slide-to="2" data-toggle="modal"><img src="{% static 'Trims\Hard and carry bag\hard box Azure cosmetic.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              Cosmetic</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animated" style="position: absolute; left: 74.9473%; top: 0px;"><div href="#lb-gallery3-1t" data-slide-to="3" data-toggle="modal"><img src="{% static 'Trims\Hard and carry bag\hard box education.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              Education</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0 py-20 my-20" data-video-url="false" data-tags="Awesome" style="position: absolute; left: 0%; top: 505px;"><div href="#lb-gallery3-1t" data-slide-to="4" data-toggle="modal"><img src="{% static 'Trims\Hard and carry bag\hard box Just Hearts Perfume cosmetic.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
             Cosmetic</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Awesome" style="position: absolute; left: 24.9605%; top: 505px;"><div href="#lb-gallery3-1t" data-slide-to="5" data-toggle="modal"><img src="{% static 'Trims\Hard and carry bag\Mobile box 2.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
             Mobile box</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0 py-20 my-20" data-video-url="false" data-tags="Responsive" style="position: absolute; left: 49.9868%; top: 505px;"><div href="#lb-gallery3-1t" data-slide-to="6" data-toggle="modal"><img src="{% static 'Trims\Hard and carry bag\carry bag 1.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
              Carry bag</h4>
      </div>
  </div></div>
        
        <div class="mbr-gallery-item mbr-gallery-item--p0 py-20 my-20" data-video-url="false" data-tags="Animated" style="position: absolute; left: 74.9473%; top: 505px;"><div href="#lb-gallery3-1t" data-slide-to="7" data-toggle="modal"><img src="{% static 'Trims\Hard and carry bag\carry bag.jpg' %}" alt="" title=""><span class="icon-focus"></span><div class="card-box bg-black">
          <h4 class="card-title mbr-fonts-style mbr-bold display-5">
             Sustainable carry box</h4>
      </div>
  </div></div></div></div>
        <div class="clearfix"></div></div></div>
        
        
        <!-- Lightbox -->
        
        <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery3-1t"><div class="modal-dialog" style="width: 784px; top: 10px;"><div class="modal-content"><div class="modal-body"><div class="carousel-inner">
          
          <div class="carousel-item active"><img src="{% static 'Trims\Hard and carry bag\hard box Hemphis cosmetic.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Hard and carry bag\hard box automobile.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Hard and carry bag\hard box Azure cosmetic.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Hard and carry bag\hard box education.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Hard and carry bag\hard box Just Hearts Perfume cosmetic.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Hard and carry bag\Mobile box 2.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Hard and carry bag\1586767487Carry bag.jpg' %}" alt="" title=""></div>
          <div class="carousel-item"><img src="{% static 'Trims\Hard and carry bag\paper-box02.png' %}
            " alt="" title=""></div>
        </div></a></div></div></div></div></div>
    </div>
  </div>
</section>



</section>
</section>
<script src="{% static 'Trims/masonry.pkgd.min.js.download' %}"></script>
  <script src="{% static 'Trims/script.js.download' %}"></script>
  <script src="{% static 'Trims/script.js(2).download' %}"></script>
  
{% endblock %}
