{% extends 'home/base.html' %}
{% block title %}Printing Products
{% endblock title %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'Trims/style(3).css' %}">
<link rel="stylesheet" href="{% static 'Trims/mbr-additional.css' %}" type="text/css">



    <section class="header4 cid-r2hCFpLJfd" id="header4-2t">

    

    

      <div class="container align-center">
          <div class="row justify-content-center">
              <div class="mbr-white col-lg-8 col-md-12 content">
                  <h1 class="mbr-section-title mbr-bold align-left mbr-white pb-2 mbr-fonts-style display-2">Sustainable Cartons
                      <br></h1>
                  <div class="line-wrap">
                      <div class="line"></div>
                  </div>
                  <p class="mbr-text align-left pt-4 mbr-fonts-style display-5">
                    K Mean Black caters to leading brands in the consumer goods industry, across verticals such as FMCG, Food and Drinks, Tobacco, Liquor, Electronics, Pharmaceuticals and other segments. Below are some of our customers: 
            <br>
                    Our domain knowledge across industries allows us to work with clients to understand their specific folding cartons needs and industry requirements to deliver customized solutions.
                    <br>
                    We offer a complete range of carton styles complemented by a wide variety of print finishes such as lamination, foiling, embossing, window patching and security features.
                    <br>
                    Our capabilities include printing high quality graphics on a range of substrates including metallized and holographic films.
                    <br>
                    In addition, our versatile gluing machines can work with complex structures ideal for even high speed automatic cartoning machines.
            
            <br>
            The equipment is capable of manufacturing a wide range of flutes complemented with high end printing. We are one of the few companies to use completely automatic lamination equipment for quick drying, moisture control and quick turnaround. In addition, we have deployed special features on our finishing equipment to better handle litho-laminated sheets.</p>
                 
              </div>
  
              <div class="mbr-white col-lg-8 col-md-8 mt-2">
                  <img src="{% static 'Trims\pexels-matheus-bertelli-799465.jpg' %}" title="" alt="">
              </div>
  
  
          </div>
      </div>
      
  </section>

<script src="{% static 'Trims/masonry.pkgd.min.js.download' %}"></script>
  <script src="{% static 'Trims/script.js.download' %}"></script>
  <script src="{% static 'Trims/script.js(2).download' %}"></script>
  
{% endblock %}
