{% extends 'home/base.html' %}
{% block title %}Sustainable Packaging
{% endblock title %}
{% load static %}
{% block body %}

<div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="10000">
    <img src="{% static 'printing\printing Sustainable_banner.png' %}" class="d-block w-100" alt="...">
   
  </div>         
</div>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-lg-10 p-lg-5 mx-auto">
    <h1 class="text-bold display-2 fw-normal">Sustainability is built into every packaging project we produce. </h1>
    <p class="py-1 lead fw-normal"><br>Branding plays a vital role to position products in the target market, which is why packaging ideas are evolving faster than ever. But, it’s a need of the hour that we set packaging goals around the element of sustainability. K Mean Black is making a shift towards sustainable branding and packaging solutions to contribute its bit towards overall well-being of current and future generations. We know our efforts might not bring changes overnight, but our simple changes can bring a significant difference towards the environment.<br><br>

  The word sustainability gets thrown around quite a bit these days. At K Mean Black, it’s not just a trend or buzzword that we take lightly. We’re proud to offer a full range of certified sustainable packaging branding materials.<br><br>

  Paper is also an excellent replacement for environmentally polluting plastic packaging. Below are some examples of sustainability initiatives undertaken by us with paperboard packaging.<br><br>
  
  This drive is additional to our team’s constant efforts to innovate and introduce new sustainable products, which reduce the impact our customers have on the environment. Our goal is to promote sustainable solutions to our partners, without compromises on the design or costing of the product.
  
  <p class="py-1 lead fw-normal text-left"><strong>REACH Compliant Inks and Water Based Varnish: </strong>We are committed to create a sustainable future by using water soluble matt and gloss varnish over our REACH compliant inks for Offset Printing.<br><br>
    
  <strong>Sustainable Materials:</strong> Organic cotton, bamboo & recycled polyester are our foremost choices when it comes to fabric as they do emit less or no carbon footprints, we also push brands to use FSC® and post-consumer waste papers. We believe in promoting the use of sustainability manufactured raw materials like recycled paper, FSC® paper (ask about our FSC® – certified products). Paperboard packaging is inherently sustainable and fully recyclable. Most of the paper and paperboard used in our products is either recycled or made from responsibly forested pulp products.<br><br>

  <strong>Sustainable Logistics:</strong> We support sustainable processes across the supply chain that are environment friendly and lower in costs, we also use electric vehicles for local deliveries around our facility.<br> 
  </p>
  </div>
  
 <div class="container">
    <div class="row row-mr mt-5" style="margin-bottom:2em;">
       <div class="col-lg-11  offset-lg-1 my-col-8">
            <p class="main-heading display-3"><strong>3 Rs: Reduce, Reuse, Recycle</strong></p>
        </div>
     
                   
    
  <div class="col-sm-4 p-3">
      <div class=" text-center pt-3 pb-3 boxthumb" style="background-color:#f6f6f6; min-height:406px; border-bottom: 2px solid #7e9445;">
     
     <img src="{% static 'printing\36_post_Reduce-Icon[1].png'%}" class="img-fluid p-3" style="width: 80px;">
      <h4 class="pt-2" style=" color: #525252; font-weight:400;">Reduce</h4>
     <p class="p-4" style=" color: #525252;font-size:18px;">Manage our operations in a way that helps reduce the use of paper in making the world greener &amp; healthier.</p>
     
      </div>
      </div>
                
    
  <div class="col-sm-4 p-3">
      <div class=" text-center pt-3 pb-3 boxthumb" style="background-color:#f6f6f6; min-height:406px; border-bottom: 2px solid #7e9445;">
     
     <img src="{% static 'printing\37_post_Reuse[1].png' %}" class="img-fluid p-3" style="width: 80px;">
      <h4 class="pt-2" style=" color: #525252; font-weight:400;">Reuse</h4>
     <p class="p-4" style=" color: #525252;font-size:18px;">Avoid non biodegradable and plastic packaging, and look forward to reuse existing packaging resources. </p>
     
      </div>
      </div>
                
    
  <div class="col-sm-4 p-3">
      <div class=" text-center pt-3 pb-3 boxthumb" style="background-color:#f6f6f6; min-height:406px; border-bottom: 2px solid #7e9445;">
     
     <img src="{% static 'printing\38_post_Recycle[1].png' %}" class="img-fluid p-3" style="width: 80px;">
      <h4 class="pt-2" style=" color: #525252; font-weight:400;">Recycle</h4>
     <p class="p-4" style=" color: #525252;font-size:18px;">Avoid non renewable resources as they put extra strain on the already fragile eco system. We put to use the available resources that help reduce the negative impact on the environment. </p>
     
      </div>
      </div>
                  
      
  </div>
</div>
</div>
{%endblock%}
