{% extends 'home/base.html' %}
{% block title %} Education {% endblock %}
{% block Homeactive %} active {% endblock Homeactive %}
{% block body %}

{% load static %}
<section once="footers" class="cid-rR7CaC6iKS" id="footer1-i">
<div class="container ">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <h4 class="text-white mt-5 pt-5 mbr-section-subtitle mbr-fonts-style align-left display-7">
                Welcome To K Mean Black</h4>
            
        </div>
    </div>
</div>
</section>
<!--<section once="footers" class="cid-rR7CaC6iKS" id="footer1-i">
<div class="text-white centre">
    <section class="section-home">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 pb-4">
                <h4 class="my-5 py-5 mbr-section-subtitle mbr-fonts-style align-left display-7">
                    Welcome To K Mean Black</h4>
                <h3 class="mbr-section-title mbr-fonts-style align-left mb-4 display-2"><strong>A Team Of Specialists With Printing Technology To Create History For India </strong></h3>
                
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="{% static 'education index image.png' %}">
                    </div>
                    <div class="content-wrap text-center">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-left py-2 display-5">
                            Notes for Students
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-left mb-2 display-4"><a class="btn btn-primary btn-sm" href="/student" role="button">Explore &raquo;</a></h6>
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="{% static 'blog index.png' %}">
                    </div>
                    <div class="content-wrap text-center">
                        <h5 class="mbr-section-title card-title mbr-fonts-style py-2 align-left display-5">
                          Blog
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-left mb-2 display-4"><a class="btn btn-primary btn-sm" href="/blog" role="button">Read Us &raquo;</a></h6>
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap">
                        <img src="{% static 'teacher index image.png' %}">
                    </div>
                    <div class="content-wrap text-center">
                        <h5 class="mbr-section-title card-title mbr-fonts-style py-2 align-left display-5">
                          Get Best Team
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-left mb-2 display-4"><a class="btn btn-primary btn-sm" href="/education/teachers" role="button">Teachers &raquo;</a></h6>
                  
                        
                    </div>
                </div>
            </div>

            
        </div>
    </div>
  
</div>
</section>-->

<section class="mbr-section info3 cid-rRvMMMIyru cid-rR7CaC6iKS" id="info3-l">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 align-center">
              <h2 class="text-white mbr-fonts-style mbr-section-title mbr-bold mbr-black display-2">
                A Team Of Specialists With Printing Technology To Create History For India</h2>
              
              
            </div>
        </div>
    </div>
</section>

<section class="testimonials1 cid-rR2EBpLLYM cid-rR7CaC6iKS" id="team2-c">

    <div class="container-fluid">
        <div class="media-container-row row">
            <div class="mbr-testimonial align-center col-12 col-lg-4 col-lg-4">
                <div class="panel-item">
                    <div class="card-block">
                      <div class="testimonial-photo">
                          <img src="{% static 'education index image.png' %}">
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="mbr-author-name mbr-semibold mbr-fonts-style display-5"><a href="/education/student" class="mbr-bold text-white">
                        Notes Students</a></div>
                               
                         
                    
                  </div>
                </div>
            </div>

            <div class="mbr-testimonial align-center col-12 col-lg-4 col-lg-4">
                <div class="panel-item">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="{% static 'blog index.png' %}">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-semibold mbr-fonts-style display-5"><a href="/blog" class="mbr-bold text-white">
                            Blog</a></div>
                           

                      
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial  align-center col-12 col-lg-4 col-lg-4">
                <div class="panel-item">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="{% static 'teacher index image.png' %}">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-semibold mbr-fonts-style display-5"><a href="/education/teachers" class="mbr-bold text-white">
                            Get Best Team</a></div>
                           

                        

                    </div>
                </div>
            </div>

            


        </div>
    </div>
</section>

{% endblock %}
